{% extends 'layout/security.html.twig' %}

{% block content %}
    {{ parent() }}

    <h2 class="my-5">{{ 'security.password.forgotten.label'|trans }}</h2>
    <div class="text-center">
        {% if error == 1 %}
            <span class="d-inline-block alert alert-danger">
                {{ 'security.password.reset_token.err.account_not_found'|trans }}
            </span>
        {% else %}
            <span class="d-inline-block alert alert-success">
                {{ 'security.password.reset_token.success'|trans }}
            </span>
        {% endif %}
    </div>

{% endblock %}
