.idea

/todo.txt

/ci

### docker
/docker/mariadb/db

### deployment
/deployment/ansible/vars.yml
/deployment/ansible/roles/*/vars.yml

### ansible
/ansible/vars.yml
/ansible/roles/*/vars/main.yml
/ansible/roles/build_back/template/.env.local.j2
