.idea

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/public/documents/
/var/
/vendor/
/lib/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
package-lock.json
###< symfony/webpack-encore-bundle ###

/todo.txt

/ci

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

### docker
/docker/mariadb/db

### deployment
/deployment/ansible/vars.yml
/deployment/ansible/roles/*/vars.yml

### ansible
/ansible/vars.yml
/ansible/roles/*/vars/main.yml
/ansible/roles/build_back/template/.env.local.j2
