
@import "vars";

// pour import
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
//$fa-font-path: "~font-awesome/fonts";

// import librairies
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import "button";
@import "table";
@import "form";



body {
  background-color: $c-grey-light;
  color: $c-grey-dark;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: $c-grey-dark;
    color: $c-grey-light;
  }
  table {
    &.table {
      color: $c-grey-light;
    }
  }
  .card {
    background-color: $c-grey-dark;
  }
  .list-group-item {
    background-color: $c-grey-dark;
  }
}



.c-red{
  color: $c-red;
}
.c-blue{
  color: $c-blue;
}
.c-green{
  color: $c-green;
}



/**
  DRAPEAUX
 */
#flags{
  padding: 0;
  min-width: 102px;
  text-align: center;

  a{
    text-align: center;
  }
  img{
    height: 30px;
  }
  li{
    display: inline;
  }
  li:hover{
    cursor: pointer;
  }
}


header nav{
  box-shadow: 0 1px 10px 0 grey;
}

#nav1{
  a.active{
    background-color: white;
    border-radius: 5px;
  }
}

#nav2{
  font-size: 90%;
  min-height: 28px;
  a.active{
    text-decoration: underline;
  }
  @media (max-width: 992px) {
    border-top: 1px solid $c-grey-dark;
  }
}

#nav3{

}


.b-rad{
  border-radius: 5px;
}


h1{
  text-align: center;
}
