
table.table {
  border-left: 1px solid $c-blue;
  margin-top: 10px;

  td, th {
    padding: 0.2rem;
  }

  tbody {
    tr:hover{
      background-color: $c-grey-light;
      color: $c-grey-dark;
    }
  }

  tr.total {
    font-weight: bold;
  }
}
