
$c-blue: #6e40c9;
$c-red: #ff522a;
$c-green: #3a801a;
$c-white: white;
$c-black: black;
$c-grey-light: #e9ecef;
$c-grey-dark: #30363d;

$light: $c-grey-light;
$nav-link-padding-y: .2rem;
$nav-link-padding-x: .8rem;

$theme-colors: (
  "primary": $c-blue,
);
