version: '3'

services:
  mariadb:
    image: mariadb:11.4
    user: "1000:1000"
    environment:
      MARIADB_ROOT_PASSWORD: "$MARIADB_ROOT_PASSWORD"
      MARIADB_DATABASE: "$MARIADB_DATABASE"
      MARIADB_USER: "$MARIADB_USER"
      MARIADB_PASSWORD: "$MARIADB_PASSWORD"
    volumes:
      - ./mariadb/db:/var/lib/mysql
      - ./mariadb/conf/my.cnf:/etc/mysql/conf.d/my.cnf
      - ./mariadb/log:/var/log/mysql

  backend:
    build: backend
    ports:
      - "{{ back_proxy_port }}:80"
    volumes:
      - ../backend:/var/www/html
      - ./backend/sites-enabled:/etc/apache2/sites-enabled
      - ./backend/conf.d/php.ini:/usr/local/etc/php/conf.d/php.ini
    depends_on:
      - mariadb

#  adminer:
#    image: adminer
#    user: "1000:1000"
#    ports:
#      - '8006:8080'
#    depends_on:
#      - mariadb
