<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>ICC PROD Exception</h1>
<div>Hello,</div>

<p>
    Erro message : {{ message }}<br />
    Request info : {{ request }}<br />
    User info : {{ user }}<br />
</p>
<p>
    {{ trace }}
</p>

<footer style="margin-top: 20px; border-top: 1px dashed black;">
    <div>Message auto</div>
</footer>
</body>
</html>
