{% extends 'email/base.html.twig' %}

{% block body %}
    <p>
        {{ 'email.welcome.part1'|trans }}
    </p>
    <p>
        {{ 'email.welcome.part2'|trans }} <a href="{{ absolute_url(path('set_password',{'token':user.resetPasswordToken})) }}">{{ 'security.password.create'|trans }}</a>
    </p>

{% endblock %}
